#Tugas Mandiri Praktikum PM Modul 4
**Nama**: Elok Fiola      
**NIM**: 122450051   
**Kelas**: RC

## Soal 1
Terdapat delapan titik yang akan dikelompokkan menggunakan algoritma K-Means.
Berikut adalah koordinat (X,Y) dari titik-titik tersebut:    
- Langkah pertama, centroid awal dipilih secara acak yaitu: G(2,2) dan H(3,2).
- Hitung jarak Euclidean dari setiap titik ke centroid awal dan kelompokkan titik-titik
ke dalam dua klaster berdasarkan jarak terdekat.
- Hitung centroid baru dari setiap klaster.

### Iterasi 1

In [ ]:
#Import pustaka atau library yang akna digunakan
import numpy as np
import pandas as pd

In [ ]:
#Masukan dataset yang akan digunakan
#Dtaa titik (X, Y)
data = {
    'A': [2,4],
    'B': [4,4],
    'C': [5,4],
    'D': [6,4],
    'E': [2,3],
    'F': [5,3],
    'G': [2,2],
    'H': [3,2]
}

data = pd.DataFrame(data)
data

   A  B  C  D  E  F  G  H
0  2  4  5  6  2  5  2  3
1  4  4  4  4  3  3  2  2

In [ ]:
#Inisialisasi centroid awal
C1 = np.array([2,2]) #G(2,2)
C2 = np.array([3,2]) #H(3,2)

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

In [ ]:
#Menghitung jarak dan menentukan klaster untuk setiap titik
for point, coordinates in data.items():
  coordinates = np.array(coordinates)

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1 = euclidean_distance(coordinates, C1)
  jarak_ke_c2 = euclidean_distance(coordinates, C2)

  #Menentukan klaster terdekat
  if jarak_ke_c1 < jarak_ke_c2:
    centroid_terdekat = "C1"
  else:
   centroid_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1, 2), round(jarak_ke_c2, 2), centroid_terdekat])

In [ ]:
#Membuat dataframe untuk menampilkan tabel
df = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4      2.00      2.24      C1
1     B  4  4      2.83      2.24      C2
2     C  5  4      3.61      2.83      C2
3     D  6  4      4.47      3.61      C2
4     E  2  3      1.00      1.41      C1
5     F  5  3      3.16      2.24      C2
6     G  2  2      0.00      1.00      C1
7     H  3  2      1.00      0.00      C2

In [ ]:
#Titik titik yang termasuk dalam C1 dan C2
C1 = df[df['Klaster'] == 'C1']
C2 = df[df['Klaster'] == 'C2']
print("Titik yang termasuk dalam C1:")
print(C1)
print("\nTitik yang termasuk dalam C2:")
print(C2)

Titik yang termasuk dalam C1:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4       2.0      2.24      C1
4     E  2  3       1.0      1.41      C1
6     G  2  2       0.0      1.00      C1

Titik yang termasuk dalam C2:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
1     B  4  4      2.83      2.24      C2
2     C  5  4      3.61      2.83      C2
3     D  6  4      4.47      3.61      C2
5     F  5  3      3.16      2.24      C2
7     H  3  2      1.00      0.00      C2

### Iterasi 2

In [ ]:
# Menghitung centroid baru berdasarkan rata-rata titik di klaster C1 dan C2
C1_2 = df[df['Klaster'] == 'C1'][['X', 'Y']].mean().values
C2_2 = df[df['Klaster'] == 'C2'][['X', 'Y']].mean().values

# Menampilkan centroid baru
print(f"Centroid baru C1: {C1_2}")
print(f"Centroid baru C2: {C2_2}")

Centroid baru C1: [2. 3.]
Centroid baru C2: [4.6 3.4]

In [ ]:
#Inisialisasi centroid awal
C1_2 = np.array([2.0, 3.0]) # Centroid 1 baru (2.0, 3.0)
C2_2 = np.array([4.6, 3.4]) # Centroid 2 baru (4.6, 3.4)

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

In [ ]:
#Menghitung jarak dan menentukan klaster untuk setiap titik
for index, row in df.iterrows():
  point = row['Titik']
  coordinates = np.array([row['X'], row["Y"]])

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1_2 = euclidean_distance(coordinates, C1_2)
  jarak_ke_c2_2 = euclidean_distance(coordinates, C2_2)

  #Menentukan klaster terdekat
  if jarak_ke_c1_2 < jarak_ke_c2_2:
    jarak_terdekat = "C1"
  else:
    jarak_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1_2, 2), round(jarak_ke_c2_2, 2), jarak_terdekat])

In [ ]:
#Membuat dataframe untuk menampilkan tabel
df_results = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df_results)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4      1.00      2.67      C1
1     B  4  4      2.24      0.85      C2
2     C  5  4      3.16      0.72      C2
3     D  6  4      4.12      1.52      C2
4     E  2  3      0.00      2.63      C1
5     F  5  3      3.00      0.57      C2
6     G  2  2      1.00      2.95      C1
7     H  3  2      1.41      2.13      C1

In [ ]:
#Titik titik yang termasuk dalam C1 dan C2
C1 = df_results[df_results['Klaster'] == 'C1']
C2 = df_results[df_results['Klaster'] == 'C2']
print("Titik yang termasuk dalam C1:")
print(C1)
print("\nTitik yang termasuk dalam C2:")
print(C2)

Titik yang termasuk dalam C1:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4      1.00      2.67      C1
4     E  2  3      0.00      2.63      C1
6     G  2  2      1.00      2.95      C1
7     H  3  2      1.41      2.13      C1

Titik yang termasuk dalam C2:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
1     B  4  4      2.24      0.85      C2
2     C  5  4      3.16      0.72      C2
3     D  6  4      4.12      1.52      C2
5     F  5  3      3.00      0.57      C2

### Iterasi 3

In [ ]:
#Inisialisasi centroid awal
C1_3 = np.array([2.25, 2.75]) # Centroid 1 baru (2.0, 3.0)
C2_3 = np.array([5, 3.75]) # Centroid 2 baru (4.6, 3.4)

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

In [ ]:
#Menghitung jarak dan menentukan klaster untuk setiap titik
for index, row in df.iterrows():
  point = row['Titik']
  coordinates = np.array([row['X'], row["Y"]])

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1_3 = euclidean_distance(coordinates, C1_3)
  jarak_ke_c2_3 = euclidean_distance(coordinates, C2_3)

  #Menentukan klaster terdekat
  if jarak_ke_c1_3 < jarak_ke_c2_3:
    jarak_terdekat = "C1"
  else:
    jarak_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1_3, 2), round(jarak_ke_c2_3, 2), jarak_terdekat])

#Membuat dataframe untuk menampilkan tabel
df_results = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df_results)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4      1.27      3.01      C1
1     B  4  4      2.15      1.03      C2
2     C  5  4      3.02      0.25      C2
3     D  6  4      3.95      1.03      C2
4     E  2  3      0.35      3.09      C1
5     F  5  3      2.76      0.75      C2
6     G  2  2      0.79      3.47      C1
7     H  3  2      1.06      2.66      C1

In [ ]:
#Titik titik yang termasuk dalam C1 dan C2
C1 = df_results[df_results['Klaster'] == 'C1']
C2 = df_results[df_results['Klaster'] == 'C2']
print("Titik yang termasuk dalam C1:")
print(C1)
print("\nTitik yang termasuk dalam C2:")
print(C2)

Titik yang termasuk dalam C1:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  2  4      1.27      3.01      C1
4     E  2  3      0.35      3.09      C1
6     G  2  2      0.79      3.47      C1
7     H  3  2      1.06      2.66      C1

Titik yang termasuk dalam C2:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
1     B  4  4      2.15      1.03      C2
2     C  5  4      3.02      0.25      C2
3     D  6  4      3.95      1.03      C2
5     F  5  3      2.76      0.75      C2

## Soal 2

## Iterasi 1

In [ ]:
#Import pustaka atau library yang akan digunakan
import numpy as np
import pandas as pd

In [ ]:
#Masukan dataset yang akan digunakan
#Dtaa titik (X, Y)
dataa = {
    'A': [3,5],
    'B': [5,5],
    'C': [6,5],
    'D': [7,5],
    'E': [3,4],
    'F': [6,4],
    'G': [3,3],
    'H': [4,3]
}

dataa = pd.DataFrame(dataa)
dataa

   A  B  C  D  E  F  G  H
0  3  5  6  7  3  6  3  4
1  5  5  5  5  4  4  3  3

In [ ]:
#Inisialisasi centroid awal
C1 = np.array([3,3]) #G(3,3)
C2 = np.array([4,3]) #H(4,3)

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

#Menghitung jarak dan menentukan klaster untuk setiap titik
for point, coordinates in dataa.items():
  coordinates = np.array(coordinates)

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1 = euclidean_distance(coordinates, C1)
  jarak_ke_c2 = euclidean_distance(coordinates, C2)

  #Menentukan klaster terdekat
  if jarak_ke_c1 < jarak_ke_c2:
    centroid_terdekat = "C1"
  else:
   centroid_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1, 2), round(jarak_ke_c2, 2), centroid_terdekat])

#Membuat dataframe untuk menampilkan tabel
df_results = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df_results)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  3  5      2.00      2.24      C1
1     B  5  5      2.83      2.24      C2
2     C  6  5      3.61      2.83      C2
3     D  7  5      4.47      3.61      C2
4     E  3  4      1.00      1.41      C1
5     F  6  4      3.16      2.24      C2
6     G  3  3      0.00      1.00      C1
7     H  4  3      1.00      0.00      C2

In [ ]:
#Titik titik yang termasuk dalam C1 dan C2
C1 = df_results[df_results['Klaster'] == 'C1']
C2 = df_results[df_results['Klaster'] == 'C2']
print("Titik yang termasuk dalam C1:")
print(C1)
print(C2)

Titik yang termasuk dalam C1:
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  3  5       2.0      2.24      C1
4     E  3  4       1.0      1.41      C1
6     G  3  3       0.0      1.00      C1
  Titik  X  Y  Jarak C1  Jarak C2 Klaster
1     B  5  5      2.83      2.24      C2
2     C  6  5      3.61      2.83      C2
3     D  7  5      4.47      3.61      C2
5     F  6  4      3.16      2.24      C2
7     H  4  3      1.00      0.00      C2

### Iterasi 2

In [ ]:
klaster_1 = df_results[df_results['Klaster'] == 'C1']
klaster_2 = df_results[df_results['Klaster'] == 'C2']

C1_2 = np.array([klaster_1['X'].mean(), klaster_1['Y'].mean()])
C2_2 = np.array([klaster_2['X'].mean(), klaster_2['Y'].mean()])

print(f"Cetroid baru klaster 1: {C1_2}")
print(f"Cetroid baru klaster 2: {C2_2}")

Cetroid baru klaster 1: [3. 4.]
Cetroid baru klaster 2: [5.6 4.4]

In [ ]:
#Inisialisasi centroid awal
C1_2 = np.array([3., 4.])
C2_2 = np.array([5.6, 4.4])

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

#Menghitung jarak dan menentukan klaster untuk setiap titik
for point, coordinates in dataa.items():
  coordinates = np.array(coordinates)

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1_2 = euclidean_distance(coordinates, C1_2)
  jarak_ke_c2_2 = euclidean_distance(coordinates, C2_2)

  #Menentukan klaster terdekat
  if jarak_ke_c1_2 < jarak_ke_c2_2:
    centroid_terdekat = "C1"
  else:
   centroid_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1_2, 2), round(jarak_ke_c2_2, 2), centroid_terdekat])

#Membuat dataframe untuk menampilkan tabel
df_results = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df_results)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  3  5      1.00      2.67      C1
1     B  5  5      2.24      0.85      C2
2     C  6  5      3.16      0.72      C2
3     D  7  5      4.12      1.52      C2
4     E  3  4      0.00      2.63      C1
5     F  6  4      3.00      0.57      C2
6     G  3  3      1.00      2.95      C1
7     H  4  3      1.41      2.13      C1

In [ ]:
#Iterasi 3
klaster_1 = df_results[df_results['Klaster'] == 'C1']
klaster_2 = df_results[df_results['Klaster'] == 'C2']

C1_3 = np.array([klaster_1['X'].mean(), klaster_1['Y'].mean()])
C2_3 = np.array([klaster_2['X'].mean(), klaster_2['Y'].mean()])

print(f"Cetroid baru klaster 1: {C1_3}")
print(f"Cetroid baru klaster 2: {C2_3}")

Cetroid baru klaster 1: [3.25 3.75]
Cetroid baru klaster 2: [6.   4.75]

In [ ]:
#Inisialisasi centroid awal
C1_3 = np.array([3.25, 3.75])
C2_3 = np.array([6.0,   4.75])

In [ ]:
#Fungsi untuk menghitung jarak Euclidea
def euclidean_distance(point, centroid):
  return np.sqrt(np.sum((point - centroid)**2))

#List untuk menyimpan hasil
results = []

#Menghitung jarak dan menentukan klaster untuk setiap titik
for point, coordinates in dataa.items():
  coordinates = np.array(coordinates)

  #Menghitung jarak ke masing-masing centroid
  jarak_ke_c1_3 = euclidean_distance(coordinates, C1_3)
  jarak_ke_c2_3 = euclidean_distance(coordinates, C2_3)

  #Menentukan klaster terdekat
  if jarak_ke_c1_3 < jarak_ke_c2_3:
    centroid_terdekat = "C1"
  else:
   centroid_terdekat = "C2"

  #Menyimpan hasil
  results.append([point, coordinates[0], coordinates[1], round(jarak_ke_c1_3, 2), round(jarak_ke_c2_3, 2), centroid_terdekat])

#Membuat dataframe untuk menampilkan tabel
df_results = pd.DataFrame(results, columns=['Titik', 'X', 'Y', 'Jarak C1', 'Jarak C2', 'Klaster'])

#Menampilan tabel
print(df_results)

  Titik  X  Y  Jarak C1  Jarak C2 Klaster
0     A  3  5      1.27      3.01      C1
1     B  5  5      2.15      1.03      C2
2     C  6  5      3.02      0.25      C2
3     D  7  5      3.95      1.03      C2
4     E  3  4      0.35      3.09      C1
5     F  6  4      2.76      0.75      C2
6     G  3  3      0.79      3.47      C1
7     H  4  3      1.06      2.66      C1